{% extends "learning_logs/base.html" %}

{% block content %}

    <section id="top" class="top-banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                        <h1>Welcome to my world!</h1>
                        <p id="banner-description">Keep focus on your profession. Manage your business more easily and quickly with our intuitive and affordable software.</p>
                        <a data-toggle="modal" data-target="#modal-subscription" class="btn-orange" onclick="ga('send', 'event', 'Subscribe', 'click', 'Top banner');">start to write</a>
                        <p class="with-love">Mde with <i class="fa fa-heart"></i> in zhangwencheng!</p>
                    </div>
                </div>
            </div>
            </div>
        </section>
{% endblock content %}